{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Зарегистрироваться
{% endblock %}

{% block content %}
    <div class="centered-form">
        <div class="row">
            <div class="col">
                <div class="centered-text">
                    <h1>Создать аккаунт</h1>
                    <p>Пожалуйста, заполните форму:</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="centered-text">
                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                    </div>
                </form>
                <br/>
                <div class="centered-text">
                    <p>Есть аккаунт? <a href="{% url 'account:login' %}">Войти</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}