{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {{ form.media.css }}
{% endblock %}

{% block title %}
    Создать комнату
{% endblock %}

{% block content %}
    <div class="centered-form">
        <div class="row">
            <div class="col">
                <div class="centered-text">
                    <h1>Создать комнату</h1>
                    <p>Пожалуйста, заполните форму:</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="centered-text">
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    {{ form.media.js }}
{% endblock %}