{% extends "account/base.html" %}
{% block title %}
    Welcome!
{% endblock %}

{% block content %}
    <div style="width: 600px; margin-left: auto; margin-right: auto; font-size: 14pt">
        <div style="margin-top: 200px">
            <div style="margin-bottom: 25px;text-align: center">Проект для удобной и простой поддержки работы команды разработки<br></div>
            <ul>
                <li>Если вы менеджер, после регистрации вы можете создать комнату(ы)</li>
                <li>Если вы сотрудник, попросите вашего менеджера добавить вас в комнату</li>
            </ul>
        </div>
    </div>
{% endblock %}